<section class="headerLogo">
  <img
    class="headerLogo__imgLogo"
    src="../../../assets/img/logo.png"
    alt="logo empresa covinoc"
  />
</section>

<app-new-task-component></app-new-task-component>

<app-task-list></app-task-list>

<section class="githubLogo">
  <a href="https://github.com/alejandrobecerraptor/MyTask" target="_blank">
    <img
      class="githubLogo__imgLogo"
      src="../../../assets/img/logo-github1.png"
      alt="logo github"
    />
    <p class="githubLogo__txt roboto">Link al Repo</p>
  </a>
</section>
