<section class="taskList-container">
  <div class="taskList-container-content">
    <section class="taskList-container-content__headerTable">
      <span class="taskList-container-content__headerTable__title">
        <i class="fa-solid fa-list fa-xl" style="color: #13806a"></i>
        <h3 class="roboto-bold">Lista de tareas</h3>
      </span>
      <div class="taskList-container-content__headerTable__search">
        <input
          type="text"
          placeholder="Buscar…"
          [formControl]="searchInput"
          (input)="searchTask()"
        />
        <span class="taskList-container-content__headerTable__search__icon">
          <i
            class="fa-solid fa-magnifying-glass fa-flip-horizontal fa-xl"
            style="color: #27dac5"
          ></i>
        </span>
      </div>
    </section>

    <section class="taskList-container-content__table">
      <table summary="La lista de tareas personales">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Mis Tareas</th>
            <th scope="col">Completada</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of pagedTasks">
            <th scope="row" class="roboto-regular">{{ task.id }}</th>
            <td
              [ngStyle]="{
                'text-decoration': task.state ? 'line-through' : 'none'
              }"
            >
              {{ task.title }}
            </td>
            <td>
              <span>
                <input
                  type="checkbox"
                  [checked]="task.state"
                  (click)="updateTask(task)"
                />
              </span>
            </td>
            <td>
              <i
                class="fa-solid fa-trash fa-lg iconTrash"
                style="color: #ff0000"
                (click)="deleteTask(task.id)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="taskList-container-content__pagination">
      <i
        class="fa-solid fa-chevron-left fa-xl iconPagination"
        [ngStyle]="{
          color: currentPage === 1 ? '#D0D0D0' : '#3DB0E3'
        }"
        (click)="currentPage === 1 ? undefined : setPage(currentPage - 1)"
      ></i>
      <div class="prueba">
        <span
          *ngFor="let i of [].constructor(totalPages); let index = index"
          [ngClass]="index + 1 === currentPage ? 'activo' : 'inactivo'"
          class="taskList-container-content__pagination__iconPages roboto-bold"
          (click)="setPage(index + 1)"
        >
          {{ index + 1 }}
        </span>
      </div>
      <i
        class="fa-solid fa-chevron-right fa-xl iconPagination"
        [ngStyle]="{
          color:
            currentPage * itemsPerPage >= filteredTasks.length
              ? '#D0D0D0'
              : '#3DB0E3'
        }"
        (click)="
          currentPage * itemsPerPage >= tasks.length
            ? undefined
            : setPage(currentPage + 1)
        "
      ></i>
    </div>
  </div>
</section>
